<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Fix base_link to world -->
  <link name="world"/>

  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- Gazebo tags for all links -->
  <gazebo reference="base_link">
    <material>Gazebo/Grey</material>
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="link1">
    <material>Gazebo/Grey</material>
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="link2">
    <material>Gazebo/Grey</material>
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="link3">
    <material>Gazebo/Grey</material>
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="link4">
    <material>Gazebo/Grey</material>
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="link5">
    <material>Gazebo/Grey</material>
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="link6">
    <material>Gazebo/Grey</material>
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="L_finger">
    <material>Gazebo/Grey</material>
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="R_finger">
    <material>Gazebo/Grey</material>
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <selfCollide>false</selfCollide>
  </gazebo>

  <!-- Gazebo ros2_control plugin -->
  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <ros>
        <namespace>/</namespace>
        <remapping>/robot_description:=/robot_description</remapping>
      </ros>
      <parameters>$(arg ros2_control_params)</parameters>
    </plugin>
  </gazebo>

</robot>
